<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tbody>
            <tr th:each="post, i: ${postListA}">
                <td th:text="${post.postIdx}">
                </td>
                <td th:text="${post.boardIdx}">
                </td>
                <td th:text="${post.postTitle}">
                </td>
                <td th:text="${post.postContents}">
                </td>
                <td th:text="${post.createdAt}">
                </td>
            </tr>
        </tbody>
    </table>
    ---------------------------------
    <table>
        <tbody>
            <tr th:each="post, i: ${postListB}">
                <td th:text="${post.postIdx}">
                </td>
                <td th:text="${post.boardIdx}">
                </td>
                <td th:text="${post.postTitle}">
                </td>
                <td th:text="${post.postContents}">
                </td>
                <td th:text="${post.createdAt}">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>